#overlay {
  /*display: flex;*/
  display: none;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* ------------ */
/* Introduction */
/* ------------ */
#introduction {
  /*display: flex;*/
  display: none;
  width: 100%;
  /*max-width: 800px;*/
  background: rgba(0, 0, 0, 1);
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
}

#intro-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-size: initial;
}
#intro-buttons > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 125px;
  border-radius: 20px;
  color: black;
}
#intro-buttons>*:hover * {
  animation: shake 0.75s;
}
#tutorial-button { background-color: rgb(34, 142, 250); }
#about-button { background-color: rgb(230, 54, 230); }
#me-button { background-color: rgb(255, 255, 0); }
#play-button { background-color: rgb(34, 250, 34); }
#github-button { background-color: rgb(230, 60, 0); }
#play-button:hover { cursor: pointer; }


/* ----------------- */
/*  Statistics  */
/* ----------------- */
#statistics-overlay {
  display: flex;
    /*display: none;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.plot-title {
  font-size: 24px;
  padding: 0;
  color: gray;
  margin: 0;
}

.graphic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px
}

.graphics-container {
  display: flex;
  flex-direction: column;
}
#difference-plot, #individual-plot {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);

  /*margin-top: 10px;*/
}

#codepen-link {
  color: gray;
}
