/* -------------------------------------------------------------------------- */
/* Generic HTML Elements                                                      */
/* -------------------------------------------------------------------------- */
*, *:before, *:after { box-sizing:inherit;}
html {
	background-color: black;
	box-sizing:border-box;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h1, h2, h3, h4, h5, h6{ font-weight: 400; }

body {
	font-family:"Segoe UI",Arial,sans-serif;
	padding: 0;
	position:relative;
	margin: 0;
	min-height:100%;
}

body *{
	padding: 0px;
	border: 1px solid rgba(221,221,221,0.);
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: rgb(34, 255, 34);
}
